@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color:rgb(255, 243, 230) ;
    --black-color:#0e0e0e; 
    --dark-color:rgb(87, 70, 50);
    border: 0.1rem solid rgb(245, 221, 186);
}

* {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background-color: rgb(255, 243, 230);
}

html::-webkit-scrollbar-thumb{

    border-radius: 3rem;
    background-color: rgb(87, 70, 50); 
}

body{
    background-color: var(--main-color);
}

section {
    padding: 3.5rem 7%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: rgb(87, 70, 50);
    background-color:rgb(255, 243, 230);
    cursor: pointer;
    border: 0.1rem solid #fff;
}

.btn:hover{
    background-color: rgb(245, 221, 186); 
    color: #fff;
    border: 0.1rem solid var(--dark-color);
}

.heading {
    color: rgb(87, 70, 50);
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid rgb(87, 70, 50);
}

.search-input {
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;

}

/*! Header Section Start */

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgba(0 0 0 / 75%); 
    transform: scaleY(0) ;
}

.header .search-form.active{
    transform: scaleY(1);
}
 
.header .search-form i {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--dark-color);
}

.header .search-form input {
    width: 100%;
}


.header .logo img {
    height: 10rem;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 7%;
    margin: 2rem 7%; 
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color); 
    border-bottom: 0.2rem solid transparent; 
}
.header .navbar .active,
.header .navbar a:hover {
    border-color: rgb(234, 197, 156);
    padding-bottom: 0.4rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

.header .cart-items-container {
    position: absolute;
    top: 95%;
    height: calc(100vh - 7rem);
    width: 35rem;
    background-color: #fff;
    box-shadow: 0px 20px 14px 0px rgba(0 0 0 / 75%);
    right: -100%;
}

.header .cart-items-container.active {
    right: 3rem;
}


.header .cart-items-container .cart-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.header .cart-items-container .cart-item:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.75);
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--dark-color);

}

.header .cart-items-container .cart-item img {
    height: 7rem;
    width: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.4rem;
    color: var(--dark-color);
    padding-bottom: 0.5rem;
} 

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    border-radius: unset ;
}

  #menu-btn {
    display: none;
}

/*! Header  Section End */

/*! Home Section Start*/

.home {
    min-height: 100vh;
    background: url(../EDUBEAUTYBAR/images/homewlp.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;

}
.home .content {
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgb(87, 70, 50);
}

/*! Home Section End*/

/*! Services Section Start*/

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box{
    padding: 3rem;
    background-color: #fff ;
    border-radius: 3rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.services .box-container .box img{
    width: 100%;
    height: 17rem;
    padding-left: 1rem;
    object-fit: cover;
}

.services .box-container .box h3{
    text-align: center;
    padding-top: 2.5rem;
    font-size: 2.1rem;
}

.services .box-container .box ul{
    font-size: 2rem;
    padding-top: 2rem;
    text-align: left;
    list-style-type:none ;
    line-height: 4.7rem;
    text-align: left;

}
.services .box-container .box li::before {
    content: "▹ ";
    color: rgb(232, 191, 147); 
}

.services .box-container .box .srv1 {
    padding-top: 3rem;
}
.services .box-container .box .srv2 {
    padding-top: 3rem;
}
.services .box-container .box .srv3 {
    padding-top: 3rem;
}
.services .box-container .box .srv4 {
    padding-top: 3rem;
}

/*! Services Section End*/

/*! Products Section Start*/

.products .box-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.products .box-container .box .image {
    height: 60rem;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1.3rem;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    
}

.products .box-container .box .box-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.products .box-container .box .box-head .title {
    font-size: 1.4rem;
    color: rgb(87, 70, 50);
}

.products .box-container .box .box-head .name {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: start; 
    overflow-wrap: anywhere;
    color:rgb(87, 70, 50);
}

.products .box-container .box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.products .box-container .box-bottom .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products .box-container .box-bottom .info .price {
    font-size: 3rem;
}

.products .box-container .box-bottom .info .amount {
    font-size: 1rem;
}

.products .box-container .box-bottom .product-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid rgb(87, 70, 50);
}

.products .box-container .box-bottom .product-btn a i {
    font-size: 1.6rem;
    color: rgb(87, 70, 50);
}

/*! Products Section End*/

/*! About Us Section Start*/

.about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row img {
    width: 100%;
    border: 0.5rem solid #0e0e0e ;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    font-size: 2.3rem;
    color: var(--dark-color);
}

.about .row .content p{
    font-size: 1.5rem;
    color: var(--dark-color);
    padding: 1rem 0;
    line-height: 1.7;
}

/*! About Us Section End*/

/*! Review Section Start*/

.review .box-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
    
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
    color: var(--dark-color);
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.6rem solid var(--main-color);   
}


.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--dark-color);
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: gold;
}


/*! Review Us Section End*/


/*! Contact Section Start*/

.contact .row {
    display: flex;
    background-color: var(--main-color);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
   
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form  .btn {
    color: #fff;
    font-size: 2.5rem;
    background-color: var(--dark-color);
    
}

.contact .row form  .btn:hover {
    background-color: #fff;
    color: var(--dark-color);
    border: 0.1rem solid var(--dark-color);

}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--dark-color);
}

.contact .row form .inputbox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: 0.1rem solid var(--dark-color);
}

.contact .row form .inputbox i {
    color: var(--dark-color) ;
    font-size: 2rem;
    padding-left: 2rem;

}

.contact .row form .inputbox input {
    width: 100%;
    padding-left: 2rem;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--dark-color);
    text-transform: none;
    background: none;
}

/*! Contact Section End*/

/*! Blogs Section Start*/


.blog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}  

.blog .box-container .box {
    background-color: #fff;
    border-radius: 3rem;
}

.blog .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.blog .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blog .box-container .box:hover .image img {
    transform: scale(1.2);
}
.blog .box-container .box .content h3 {
    display: block;
    padding: 0.5rem;
    font-size: 1.8rem;
    color: var(--dark-color);
}
.blog .box-container .box .content span {
    color: var(--dark-color);
    display: block;
    font-size: 1rem;
    padding-top: 0.5;
    padding-left: 1rem;
}

.blog .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--dark-color);
    padding-top: 2.5rem;
    padding-left: 1rem
}

.blog .box-container .box .content a {
    margin-bottom: 2.5rem;
}

/*! Blogs Section End */

/*! Footer Section Start */

.footer {
    background-color: var(--dark-color);
    text-align: center;
}

.footer .search {
    display: flex;
    justify-content: center;
}

.footer .search .search-input {
    
    width: 30rem;
    color: var(--dark-color);
    background-color: var(--main-color);
}

.footer .search .btn-primary {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
}

.footer .search .btn-primary:hover {
    font-size: 1.5rem;
    background-color: rgb(245, 221, 186);
    color: var(--dark-color);
}
    
.footer .share {
    padding: 3rem 0;
}

.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem ;
    color: var(--main-color);
    font-size: 2rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover {
    background-color: var(--main-color);
    color: var(--dark-color);
    border: 0.1rem solid var(--black-color);
    
}

.footer .links {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a {
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: var(--dark-color);
    font-size: 1.5rem;
    border-radius: 1.5rem;
}

.footer .links a:hover {
    background-color: rgb(245, 221, 186);
    color: #fff;
    font-size: 1.6rem;
    border: 0.1rem solid var(--main-color); 
}

.footer .links a.active {
    background-color: rgb(245, 221, 186);
    color: var(--dark-color);
    font-size: 1.6rem;
    border: 0.1rem solid var(--main-color); 
}

.footer .created {
    font-size: 1.5rem;
    color: rgb(245, 221, 186);
    font-weight: 200;
    padding-top: 1.5rem;
}

.footer .created span {
    color: #fff;
    font-size: 2rem;
    font-weight: 550;
}


/*! Footer Section End */


/*! Responsive Start */

@media (max-width: 1048px) {
    
    html{
        font-size: 57%;
    }

}

@media (max-width: 991px){

    html{
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    .header .logo img {
        height: 6rem;
    }
    section {
        padding: 2rem;
    }
    .products .box-container .box .box-head .name {
        font-size: 3.4rem;
    }
}


@media (max-width: 774px){

    .header #menu-btn {
        display: inline-block;
    }

    html{
        font-size: 53%;
    }
   
    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%) ;
        right: -100%;
    }

    .header .navbar.active {
        right: 3rem;
    }

    .header .navbar a {
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size:2rem;
    }

}

@media (max-width: 576px) {

    html{
        font-size: 50%;
    }

}

/*! Responsive End */